/* 自定义header
@import "globals";
$height: 40px;

header {
  background: #404040;
  height: $height;
  line-height: $height;
  color: $light;
  font-size: $font-size;
  padding-left: 20px;
}*/

.logo {
    // background: url('../../assets/logo.png') no-repeat;
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 64px;
    padding-right: 10px;
}