/* 自定义header
@import "globals";
$height: 40px;

header {
  background: #404040;
  height: $height;
  line-height: $height;
  color: $light;
  font-size: $font-size;
  padding-left: 20px;
}*/

.logo {

}